# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
this_weather_df = pd.read_csv("../WeatherPy/Weather_Output.csv")
#print(this_weather_df.columns)
this_weather_df=this_weather_df.drop(columns=['Unnamed: 0'])
this_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vaini,-21.20,-175.20,69.80,83,75,5.82,TO,1600109575
1,Verāval,20.90,70.37,81.23,85,71,8.68,IN,1600109820
2,Coquimbo,-29.95,-71.34,57.20,76,75,14.99,CL,1600109767
3,Bukachacha,52.98,116.92,38.86,89,0,0.43,RU,1600109820
4,Bend,44.06,-121.32,79.00,16,1,10.29,US,1600109753
...,...,...,...,...,...,...,...,...,...
578,Carutapera,-1.20,-46.02,82.92,71,100,10.80,BR,1600109941
579,North Myrtle Beach,33.82,-78.68,89.60,59,40,10.29,US,1600109936
580,Shatsk,54.03,41.71,52.27,90,85,13.15,RU,1600109942
581,Khryashchevka,53.81,49.09,57.20,67,0,8.95,RU,1600109942
582,Kharp,66.80,65.81,48.18,93,100,11.77,RU,1600109813

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [20]:
gmaps.configure(api_key=g_key)
locations = this_weather_df[["Lat", "Lng"]].astype(float)
humidity = this_weather_df["Humidity"].astype(float)

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

#fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
ideal_temp=this_weather_df[(this_weather_df['Max Temp']<75) & (this_weather_df['Max Temp']>70)]
temp_wind=ideal_temp[ideal_temp["Wind Speed"]< 4]
cloud_temp_wind=temp_wind[temp_wind['Cloudiness']==0]
cloud_temp_wind

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
57,Albany,42.60,-73.97,73.00,38,0,1.99,US,1600109665
109,Akşehir,38.36,31.42,70.86,45,0,3.67,TR,1600109841
118,Lata,40.16,-8.33,73.99,59,0,3.74,PT,1600109843
203,Garmsār,35.22,52.34,70.12,32,0,1.63,IR,1600109859
415,Luena,-11.78,19.92,70.90,29,0,3.13,AO,1600109903
489,Nokaneng,-19.67,22.27,71.56,20,0,3.62,BW,1600109921
547,Āmol,36.47,52.35,70.66,72,0,2.46,IR,1600109934
560,Năsturelu,43.67,25.47,72.00,49,0,1.99,RO,1600109937
575,Zambezi,-13.54,23.10,72.57,30,0,2.01,ZM,1600109941

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_name=[]

target_coordinates = cloud_temp_wind[["Lat", "Lng"]].astype(float)
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

params={ "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [ ]:
response = requests.get(base_url, params=params)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure